{% extends "base.html" %}
{% block title%}Поезд{% endblock%}
{% block content%}
<h1 class="display-8">Поезд</h1>
<div class="row">
<div class='col-md-6'>
    <p>№{{object.name}}</p>
    <p>Маршрут: {{object.from_city}} - {{object.to_city}} </p>
    <p>Время в пути: {{object.travel_time}} часов </p>
</div>
</div>
<div class="row">
<div class='col-md-6'>
    <a href='{% url "trains:home"%}'>
        <button type='button' class='btn btn-light'>
            Назад к списку
        </button>
    </a>
</div>
</div>
{% endblock%}
